body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;

}

.header{
    margin: 30px 0;
}

.nav__ul{
    text-align: center;
}

.nav__li{
    display:inline-block;
}

.nav__li:not(:last-of-type){
    margin-right: 45px;
}

.nav__link{
    font-weight: 700;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
}

.background__pic{
    text-align: center;
    background-image: url(./img/pic\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 138px 0 191px;
}

.background__title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: white;
    margin-top: 138px;
    margin-bottom: 14px;
}

.button{
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #162C38;
}

.wrapper{
    background-color:#7cc0d7;
    padding: 130px 0 134px;
}

.wrapper__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    max-width: 726px;
    margin: 0 auto;
    color: white;
    margin-top: 130px;
    margin-bottom: 134px;
}

.description{
    max-width: 1232px;
    margin: 221px auto;
    position: relative;
}


.description__text{
    max-width: 696px;
    margin:0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-top: 221px;
    margin-bottom: 216px;
}

.description__item{
    width: 178px;
    height: 121px;
    background: #c2d4e5;
    position: absolute;
}

.description__item--1{
    left:0px;
    top:186px;
}

.description__item--2{
    left:0;
    bottom:200px;
}

.description__item--3{
    right:0;
    bottom: 100px;
}

.preview__text{
    max-width: 696px;
    margin:0 auto;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    }

.preview__text::before{
    content:"";
    position: absolute;
    background-color: #7cc0d7;
    width: 50px;
    height:50px;
    border-radius: 50%;
    top:-60px;
    left:-20px;
}

.preview__text::after{
    content:"";
    position: absolute;
    background-color: #BFDEFB;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    bottom:-70px;
    right:-60px;
   
}

.form-section{
    margin: 0 auto;
    max-width: 420px;  
    padding-top: 123px;
    padding-right:280px;

  }
  
  .input_info{
    position: relative;
      margin-bottom: 26px;
  }
  
  
  .input{
    width: 647px;
    height: 96px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 31px;
    padding-top: 33px;
  }
  .label{
      position: absolute;
      left:29px;
      top:11px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #6C6C6C;
  }
  
  .input::placeholder{
     
      font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: #000000;
  }
  
  .button-info{
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal; 
    width: 647px;
    height: 92px;
    background-color: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 32px;
   
} 

    

